@media all{
    .fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
    .fa-times:before{content:"\f00d";}
    }
    /*! CSS Used from: https://theme.hstatic.net/1000080569/1000260471/14/style.css?v=222 ; media=all */
    @media all{
    *{margin:0px;padding:0px;outline:none;}
    img{max-width:100%;}
    li{list-style:none;}
    ul,li{margin:0px;padding:0px;}
    a,a:hover,a:focus{color:#333333;text-decoration:none;}
    a:hover{color:#ec5198;}
    select{-webkit-appearance:none;-moz-appearance:none;}
    .variant-style .selector-wrapper{margin-bottom:10px;}
    .variant-style .selector-wrapper > label{min-width:100px;}
    .variant-style .selector-wrapper .custom-dropdown{position:relative;display:inline-block;border:1px solid #e7e7e7;}
    .variant-style .selector-wrapper .custom-dropdown:after{content:'<>';font:12px "Consolas", monospace;color:#aaa;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);right:8px;top:8px;padding:0 0 2px;position:absolute;pointer-events:none;}
    .variant-style .selector-wrapper .custom-dropdown:before{content:'';right:0px;top:0px;width:30px;height:32px;background:#f8f8f8;position:absolute;pointer-events:none;display:block;border-left:1px solid #e7e7e7;}
    .variant-style .selector-wrapper .custom-dropdown .custom-dropdown-select{height:32px;text-indent:10px;margin:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#fff;color:#888;border:none;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;min-width:150px;}
    .style-variant-template{display:block;}
    .style-variant-template input{display:none;}
    .style-variant-template li{float:left;margin-right:3px;}
    .style-variant-template li span{display:block;padding:6px 8px;background:#fff;cursor:pointer;border:1px solid #ccc;}
    .style-variant-template input[type=radio]:checked + span{border:1px solid #e60f1e;background:url(//assets/images/static/1000080569/1000260471/14/checkbox-product.png?v=210) no-repeat right bottom #fff;}
    .variant-style button.btn-style-add{display:inline-block;border:1px solid #F44F00;border-radius:3px;height:48px;width:200px;background:url(//assets/images/static/1000080569/1000260471/14/icon_addtocart.png?v=210) no-repeat 15px center transparent;color:#F44F00;font-size:14px;text-transform:uppercase;margin-bottom:10px;}
    .variant-style button.btn-style-add:hover{background:url(//assets/images/static/1000080569/1000260471/14/icon_addtocart.png?v=210) no-repeat 15px center #E8E8E8;}
    ::-webkit-scrollbar{width:6px;height:6px;}
    ::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);-webkit-border-radius:10px;border-radius:10px;}
    ::-webkit-scrollbar-thumb{-webkit-border-radius:10px;border-radius:10px;background:rgba(105,105,105,0.8);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);}
    .wrapper-quickview{padding:20px;display:block;position:fixed;max-width:900px;visibility:hidden;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;will-change:left, top, width;z-index:999999;}
    .wrapper-quickview::after{clear:both;content:"";display:table;}
    .wrapper-quickview.is-visible{visibility:visible;}
    .wrapper-quickview.animate-width{background-color:#ffffff;box-shadow:0 0 30px rgba(0, 0, 0, 0.2);-webkit-transition:box-shadow 0.3s;-moz-transition:box-shadow 0.3s;transition:box-shadow 0.3s;top:100px!important;}
    .wrapper-quickview .quickview-image{margin-bottom:5px;text-align:center;}
    #quickview-sliderproduct .quickview-slider{position:relative;visibility:hidden;opacity:0;-webkit-transition:opacity .3s, visibility 0s;-moz-transition:opacity .3s, visibility 0s;transition:opacity .3s, visibility 0s;}
    #quickview-sliderproduct{padding:0 30px;}
    #quickview-sliderproduct .quickview-slider.is-visible-slide{visibility:visible;opacity:1;}
    .svg-next-icon{background-size:contain;background-position:center;background-repeat:no-repeat;position:relative;top:0;fill:currentColor;display:inline-block;vertical-align:middle;}
    .svg-next-icon-size-16{width:16px;height:16px;}
    #quickview-sliderproduct .quickview-slider .item a{display:block;}
    #quickview-sliderproduct .quickview-slider .item img{border:1px solid #e7e7e7;}
    #quickview-sliderproduct .quickview-slider .item a.active img{border:1px solid #D87C7C;}
    #quickview-sliderproduct .quickview-slider .owl-controls .owl-next{right:-40px;position:absolute;top:calc(50% - 22px);background:transparent;}
    #quickview-sliderproduct .quickview-slider .owl-controls .owl-prev{left:-40px;position:absolute;top:calc(50% - 22px);background:transparent;}
    .wrapper-quickview .quickview-information{visibility:hidden;opacity:0;display:none;-webkit-transition:opacity .3s, visibility 0s;-moz-transition:opacity .3s, visibility 0s;transition:opacity .3s, visibility 0s;}
    .wrapper-quickview.is-visible-info .quickview-information{visibility:visible;opacity:1;display:block;}
    .quickview-information .quickview-close{position:absolute;right:-21px;top:-20px;width:0;height:0;border-top:15px solid blue;border-right:25px solid blue;border-bottom:25px solid transparent;border-left:15px solid transparent;}
    .quickview-information .quickview-close a{color:#fff;position:absolute;top:-13px;right:-18px;}
    .quickview-information h2{margin:0 0 10px;font-size:20px;color:#222222;}
    .quickview-information .quickview-price{margin-bottom:10px;background:#ddd;padding:5px 10px;}
    .quickview-information .quickview-price span{font-size:20px;color:#e32124;font-weight:bold;margin-right:10px;}
    .quickview-information .quickview-price del{font-size:16px;}
    .quickview-information .quickview-variants{border-bottom:1px solid #e5e5e5;margin:0 0 15px;padding:0 0 15px;}
    .quickview-information .quickview-variants #quickview-select{display:none;}
    .quickview-information .selector-wrapper{width:100%;float:left;}
    .quickview-information .quickview-description{font-size:14px;color:#adadad;line-height:21px;margin:0 0 15px;padding:0 0 15px;}
    }
    /*! CSS Used from: Embedded */
    .selector-wrapper:not(.opt1):not(.opt1-quickview):not(.opt2):not(.opt2-quickview):not(.opt3):not(.opt3-quickview){display:none;}
    